<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerald Profile</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
    <v-app>
      <v-main>
        <v-row no-gutters align="end" class="blue darken-4" >
            <v-col lg="4" class="mb-n6 mt-16 " align="center">
                <v-avatar size="240px"  class="mb-n16"  >
                    <v-img src="./assets/llorem.jpg"/>   
                </v-avatar>
            </v-col>
            <v-col lg="8" justify="end" >
               <v-container class="white--text" >
                   <h2 class="text-h4 font-weight-bold">GERALD AFABLE</h2>
                   <v-divider color="white" class="my-4" width="200px"></v-divider>
                   <v-toolbar color="transparent" flat>
                        <v-toolbar-title color="white" class="white--text"> 
                            <v-icon large color="white ">mdi-cellphone-link</v-icon> Web Developer
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        
                        <a href="#lagnuages" class="v-btn white--text">Languages</a>
                   </v-toolbar>
                    
               </v-container>
            </v-col>
        </v-row>
        <v-row class="mt-8">
            <v-col lg="6" class="pa-8 pl-16" >
                <h1 class="text-h6 font-weight-medium mt-12">More about me :</h1>
                <v-list>
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon color="primary">mdi-email</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2">yasuaimo@gmail.com</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon color="primary">mdi-phone</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2">+639466640372</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon color="primary">mdi-map-marker</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title class="subtitle-2">Cebu, Philippines</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <h1 class="text-h6 font-weight-medium">My Principle :</h1>
                <blockquote class=" text-h5 blockquote font-weight-secondary font-weight-light">
                    <q>All I ask is that <i>Today</i> ,You do the Best Work of your <i>Entire Life</i>. </q> 
                    <strong>- Steve Jobs</strong> 
                </blockquote>
            </v-col>
            <v-col lg="6" class="pa-10">
                <v-sheet elevation="24" light>
                    <v-img src="./assets/laptop.jpg"></v-img>
                </v-sheet>
            </v-col>
        </v-row>
        <v-container id="lagnuages">
            <v-row>
                <v-col lg="12">
                    <h1 class="text-h4">Languages</h1>
                    <v-divider width="300px" class="mt-3"></v-divider>
                </v-col>
                <v-col>
                    <v-row align="center">
                        <v-col lg="4" >
                            <v-sheet class="px-12 pb-5  text-center" elevation="16" height="400px"  >
                                <h3 class="pt-5 pb-10">Front-End</h3>
                                <v-img src="./assets/vue.png" ></v-img>
                            </v-sheet>
                        </v-col>
                        <v-col lg="4" >
                            <v-sheet class="px-12 pb-5  text-center" elevation="16" height="400px" >
                                <h3 class="py-5">Back-End</h3>
                                <v-img src="./assets/laravel.png"></v-img>
                            </v-sheet>
                        </v-col>
                        <v-col lg="4" >
                            <v-sheet class="px-12 pb-5  text-center" elevation="16" height="400px"  >
                                <h3 class="pt-5 pb-10">Database</h3>
                                <v-img src="./assets/mysql.png"></v-img>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
        <v-container>
            <v-row>
                <v-col lg="12">
                    <h1 class="text-h4">Others</h1>
                    <v-divider width="300px" class="mt-3"></v-divider>
                </v-col>
                <v-col>
                    <v-carousel hide-delimiters height="300px">
                        <v-carousel-item v-for="(item_list,i) in others" :key="i"  >
                            <v-row>
                                <v-col lg="3" v-for="(item,ndx) in item_list" :key="ndx">
                                    <v-sheet class="px-12 pb-5  text-center" elevation="16">
                                        <h3 class="pt-5 pb-10">{{ item.text }}</h3>
                                        <v-img :src="item.image"></v-img>
                                    </v-sheet>
                                </v-col>
                            </v-row>
                        </v-carousel-item>
                    <v-carousel>
                </v-col>
            </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>

    
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./script.js"></script>
</body>
</html>

